body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.nav{
    /*background-color:blue;
    color:black;
    list-style:none;
    b*/
    padding: 20px 10px 0 0;

}

.banner{
    width:102%;
    display:block;
    /*height:0%;*/
}

    .banner > .banner-image {
        width: 110%;
        display: block;
        /*height: 20%;*/
        align-items:center;
    }

